{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {{ event.name|title }}{% if title %} -- {{ title }}{% endif %}
{% endblock %}

{% block head %}
    {{ bundle.js|safe }}
    {{ bundle.css|safe }}
    <script type="text/javascript">
      <!--
      window.API_ROOT = '{% url 'tracker:api_v1' %}';
      window.ROOT_PATH = '{{ root_path }}';
      window.STATIC_URL = '{% static '' %}';
      window.APP_NAME = 'tracker';
      -->
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ply.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css" />

    <script src="{{ STATIC_URL }}Ply.min.js"></script>

    <script type='text/javascript'>
      <!--
      document.addEventListener("DOMContentLoaded", function () {
        window.{{ app }}(
          Object.assign(
            {{ props }},
            {
              formErrors: {{ form_errors }},
              csrfToken: document.querySelector('input[name=csrfmiddlewaretoken]').value,
            }
          )
        );
      });
      -->
    </script>

{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
    </form>
    <div style='display: none'>
        {% for key, form in forms.items %}
            {% if form %}
                {% if form.management_form %}
                    <table data-form='{{ key }}' data-form-type='management'>{{ form.management_form }}</table>
                {% else %}
                    <table data-form='{{ key }}'>{{ form }}</table>
                {% endif %}
                {% if form.empty_form %}<table data-form='{{ key }}' data-form-type='empty'>{{ form.empty_form }}</table>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="container"></div>
    {% if not request.session.uid %}
    <script>
      (function () {
        // Do not show the modals again if the user has already declined them.
        if ($.cookie('declinedSteamConnect', Boolean)) {
          return;
        }
        Ply.dialog({
          askAccount: {
            ui: 'confirm',
            data: {
              children: [{
                tag: 'h3',
                innerHTML: 'Thank you for donating to Tip of the Hats!',
                css: {
                  'margin-bottom': '1em',
                  'margin-top': '-1em'
                }
              }, {
                tag: 'p',
                innerHTML: 'Do you have a Steam account?'
              }],
              ok: 'YES',
              cancel: 'NO'
            },
            next: 'askConnect', // OK button
            nextEffect: '3d-flip[180,-180]',
            backEffect: 'scale'
          },
          askConnect: {
            data: {
              children: [{
                tag: 'p',
                css: {
                  'font-size': '18px'
                },
                innerHTML: 'Do you want to link your Steam account to be eligible to receive in-game items for Team Fortress 2?'
              }, {
                tag: 'div',
                css: {
                  display: 'flex',
                  'justify-content': 'center',
                  'align-items': 'center',
                  'text-align': 'center',
                  'font-size': '13px'
                },
                innerHTML:
                  '<a href="{{ STATIC_URL }}res/images/toth2018_t1_large.png" target="_blank">' +
                          '<img width="150px" src="{{ STATIC_URL }}res/images/toth2018_t1_large.png">' +
                  '</a>' +
                  '<a href="{{ STATIC_URL }}res/images/toth2018_t2_large.png" target="_blank">' +
                          '<img width="150px" src="{{ STATIC_URL }}res/images/toth2018_t2_large.png">' +
                  '</a>' +
                  '<a href="{{ STATIC_URL }}res/images/toth2018_t3_large.png" target="_blank">' +
                          '<img width="150px" src="{{ STATIC_URL }}res/images/toth2018_t3_large.png">' +
                  '</a>' +
                  '<div style="margin-left: 1em;">' +
                          'In-game medals will be awarded to qualifying donors!<br/>' +
                          '$10 for Bronze<br/>' +
                          '$30 for Silver<br/>' +
                          '$100 for Gold<br/>' +
                          '(cumulative amounts over entire event)<br/>' +
                  '</div>'
              }, {
                tag: 'em',
                innerHTML: 'Clicking "Yes" will take you to Steam\'s login page',
                css: {
                  'font-size': 'smaller'
                }
              }],
              ok: 'YES',
              cancel: 'NO'
            }
          }
        }).always(function (ui) {
          if (ui.state) {
            // OK
            window.location = "{% url 'tracker:social:begin' 'steam' %}?next={{ request.get_full_path }}";
          } else {
            // Cancel
            // ui.by — 'overlay', 'x', 'esc'
            $.cookie('declinedSteamConnect', true);
          }
        });
      })();
    </script>
    {% endif %}
{% endblock %}
