{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {{ bundle.js|safe }}
    {{ bundle.css|safe }}
    <script type="text/javascript">
      <!--
      window.API_ROOT = '{% url 'tracker:api_v1' %}';
      window.ROOT_PATH = '{{ root_path }}';
      window.STATIC_URL = '{% static '' %}';
      -->
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
    <script type='text/javascript'>
      <!--
      document.addEventListener("DOMContentLoaded", function () {
        window.{{ app }}(
          Object.assign(
            {{ props }},
            {csrfToken: document.querySelector('input[name=csrfmiddlewaretoken]').value}
          )
        );
      });
      -->
    </script>

{% endblock %}

{% block content %}
    <form>
        {% csrf_token %}
    </form>
    <div id="container"></div>
{% endblock %}
